@import "tailwindcss";


:root {
  --bg-primary: #f0eef8;
  --bg-secondary: #e2dff2;
  --text-primary: #2a2040;
  --accent: #5c4fa0;
  --accent-soft: #9888cc;
  --muted: #7a90aa;
}

.dark {
  --bg-primary: #0e0e12;
  --bg-secondary: #1a1726;
  --text-primary: #e8e4f5;
  --text-secondary: #9888cc;
  --accent: #7a6bbd;
  --accent-soft: #c8bfe8;
  --muted: #4a6080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}